<div id="commit">
  <div class="container">
    <h1>Attendance Confirmed</h1>
    <hr/>
    <p>
    	Great! We have just sent your attendance confirmation to the Meetup organizer.  When you arrive at the Meetup, you need to report to 
    	the organizer to complete your commitment and to recieve your 25% cash refund.  You will also earn points as a reliable Meetup attendee.  
    	Looking forward to seeing you at the Meetup!
	</p>    	

  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
