<div id="welcome">
  <div class="container">
    <h1>Confirm your attendance</h1>
    <hr/>
    <p>Hi {{fullName}}!</p>
    <p>Welcome to countMEin!</p>
    <p>Please confirm your attendance at the Meetup to get a 25% refund and earn points as a reliable Meetup attendee.  In the future we plan to make this Meetup free for relaible attendees.</p>

    <div class="buttons">
      <a class="btn btn-info" href="/commit">Confirm my attendance</a>
    </div>

  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
