
<script src="app/components/jquery/dist/jquery.js"></script>
<script src="app/components/angular/angular.js"></script>
<script>
  var app = angular.module("reliablyMe", []); 
</script>
<script src="app/components/baPanel/baPanel.directive.js"></script>
<script src="app/components/baPanel/baPanel.service.js"></script>
<script src="app/pages/dashboard/dashboard.module.js"></script>
<script src="app/pages/dashboard/DashboardCtrl.js"></script>


<div ng-app="reliablyMe">
  <div id="welcome">
    <div class="container">
      <h1>Attendance List</h1>
      <hr/>
      <p>Hi {{fullName}}!</p>
      <p>Here are the people who have committed to your event.</p>
      <div class="col-lg-6 col-md-12">
        <div ba-panel ba-panel-title="Bordered Table" ba-panel-class="with-scroll table-panel">
          <div include-with-scope="app/pages/dashboard/borderedTable.html"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
