
<script src="app/components/jquery/dist/jquery.js"></script>
<script src="app/components/angular/angular.js"></script>
<script src="app/pages/rating/rating.module.js"></script>
<script src="app/components/baPanel/baPanel.directive.js"></script>
<script src="app/components/baPanel/baPanel.service.js"></script>
<script>
  console.log("Starting app");
  var app = angular.module("reliablyMe", ['reliablyMe.rating']); 
</script>
<script src="app/pages/rating/RatingCtrl.js"></script>

<div ng-app="reliablyMe">
  <div id="welcome">
    <div class="container">
      <h1>Reliability Rating: {{Rating}}</h1>
      <hr/>
      <p>The reliability rating meaures how well a person honours their commitments.  The highest rating is 1000.</p>
      <p>All accepted commitment offers and completed commitments are tracked on the Ethereum blockchain.</p>
      <p>The following is a list of commitments and a list of completed commitments.</p>
      <p>
      <div class="col-lg-6 col-md-12">
        <div ba-panel ba-panel-title="Commitments in progress or not completed" ba-panel-class="with-scroll table-panel">
          <div ng-include="'/app/pages/rating/incompleteTable.html'"></div>
        </div>
      </div>
	  </p>
      <p>
      <div class="col-lg-6 col-md-12">
        <div ba-panel ba-panel-title="Completed commitments" ba-panel-class="with-scroll table-panel">
          <div ng-include="'/app/pages/rating/completeTable.html'"></div>
        </div>
      </div>
	  </p>
    </div>
  </div>
</div>
