
<script src="app/components/jquery/dist/jquery.js"></script>
<script src="app/components/angular/angular.js"></script>
<script src="app/pages/rating/rating.module.js"></script>
<script src="app/components/committable/commitTable.directive.js"></script>
<script src="app/components/committable/commitTable.service.js"></script>
<script>
  console.log("Starting app");
  var app = angular.module("reliablyMe", ['reliablyMe.rating']); 
</script>
<script src="app/pages/rating/RatingCtrl.js"></script>

<div ng-app="reliablyMe">
  <div id="welcome">
    <div class="container">
      <h1>Reliability Rating</h1>

      <hr/>

      <p>The reliability rating meaures how well a person honours their commitments.  The highest rating is 1000. All commitments are tracked on the Ethereum blockchain.
      </p>
      	
      <p>
	      <div class="col-lg-6 col-md-12">
	        <div commit-table commit-table-title="" commit-table-class="with-scroll table-panel">
	          <div ng-include="'/app/pages/rating/completeTable.html'"></div>
	        </div>
	      </div>
	  </p>
	  
	   <p>
	      <div class="col-lg-6 col-md-12">
	        <div commit-table commit-table-title="UpComing Commitments" commit-table-class="with-scroll table-panel">
	          <div ng-include="'/app/pages/rating/incompleteTable.html'"></div>
	        </div>
	      </div>
	   </p>
	  
    </div>
  </div>
</div>
