<script type="text/x-template" id="grid-template">
  <table>
    <thead>
      <tr>
        <th v-for="key in columns"
          @click="sortBy(key)"
					:class="{ active: sortKey == key }">
					<div v-if="key == 'Verify'">
					Blockchain
					</div>
					<div v-else>
					{{key}}
					</div>
          <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="entry in filteredData">
        <td v-for="key in columns">
          <div v-if="key == 'Verify'">
          	<a :href="entry[key]" target="_blank">TX</a>
					</div>
					<div v-else-if ="key == 'Badge'">
							<div v-if ="entry[key] != ''">
									<a :href="entry['EventURL']" target="_blank"><img :src="entry[key]" /></a>
							</div>
					</div>					
					<div v-else-if ="key == 'EventURL'">
					</div>

					<div v-else>
						{{entry[key]}}
					</div>
        </td>
      </tr>
    </tbody>
  </table>
</script>

<!--

-->

<div id="score" style="background-image: linear-gradient(white, #DDDDDD);">

	<h1 class="top">{{prefFirstName}} {{prefLastName}}'s Commitment Portfolio</h1>
	<img class="center" src="/images/Reliablyme_logo.png">
	<div class="para">
		<p></p>
		<p>This is your Commitment Portfolio. It consists of a reliability record that measures your ratio of fulfilled commitments (100% = 1,000) and the badges your earned every time you showed up on time.</p>
    </div>
    <div class="numberCircle">{{rating}}</div>
	<div class="para">
		<p>Your current Reliability Record is {{rating}}  after completing {{completedNum}} commitments! </p>
		<p>All commitments are tracked and recorded on the Etheruem blockchain network which you can verify by clicking on the Tx link next to each commitment. </p>
	</div>
	<h1 class="my">My Commitments</h1>
	
	<div class="mainTable">
	
	<div class="tab1" id="Pending">	   
		<h5>Pending</h5>
	 <demo-grid
		 :data="pending"
		 :columns="gridColumns"
		 :filter-key="searchQuery">
	 </demo-grid>
 </div>
</div>
 	<div class="mainTable">
    <div class="tab1" id="Fulfilled">
	    <h5>Fulfilled </h5>
			<demo-grid
		    :data="fulfilled"
		    :columns="gridColumns1"
		    :filter-key="searchQuery">
		  </demo-grid>
	  </div>

 	  <div class="tab2" id="Closed">	   
 	    <h5>Closed</h5>
		  <demo-grid
		    :data="closed"
		    :columns="gridColumns1"
		    :filter-key="searchQuery">
		  </demo-grid>
		</div>

	</div>  <!-- closing main table -->
	
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
