<script type="text/x-template" id="grid-template">
  <table>
    <thead>
      <tr>
        <th v-for="key in columns"
          @click="sortBy(key)"
          :class="{ active: sortKey == key }">
          {{key}}
          <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="entry in filteredData">
        <td v-for="key in columns">
          <div v-if="key == 'Verify'">
          	<a :href="entry[key]" target="_blank">TX</a>
					</div>
					<div v-else-if ="key == 'Badge'">
							<img :src="entry[key]" />
					</div>
					<div v-else>
						{{entry[key]}}
					</div>
        </td>
      </tr>
    </tbody>
  </table>
</script>

<!--

-->

<div id="score" style="background-image: linear-gradient(white, #DDDDDD);">

	<h1 class="top">My Reliability Record</h1>
	<img class="center" src="/images/Reliablyme_logo.png">
	<div class="para">
		<p>This is your reliability record. A reliability record measures how well a person honours their commitments.</p>
		<p>The highest rating is 1000.</p>
		<p>All commmitments are tracked and recorded on the Etheruem blockchain network.</p>
    </div>

	<div class="numberCircle">{{rating}}</div>
	<h1 class="my">My Commitments</h1>
 
 	<div class="mainTable">
    <div class="tab1">
	    Fulfilled 
			<demo-grid
		    :data="fulfilled"
		    :columns="gridColumns"
		    :filter-key="searchQuery">
		  </demo-grid>
	  </div>

 	  <div class="tab2">	   
 	    Closed
		  <demo-grid
		    :data="closed"
		    :columns="gridColumns"
		    :filter-key="searchQuery">
		  </demo-grid>
		</div>

 	  <div class="tab3">	   
 	    Pending
		  <demo-grid
		    :data="pending"
		    :columns="gridColumns"
		    :filter-key="searchQuery">
		  </demo-grid>
		</div>
	</div>  <!-- closing main table -->

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
