<div class="horizontal-scroll" ng-controller="RatingCtrl">
 <div><h1>Your Reliability rating = {{Rating}}</h1></div>
  <div>
     <h3>{{user}} Completed Commitments</h3>
    <button type="button" class="btn btn-primary btn-with-icon save-profile" 
            ng-click="refreshTable()">
      Refresh table
    </button>
  </br>
  </div>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th class="text-center">Date</th>
      <th class="text-center">Offer</th>
      <th class="text-center">Status</th>
      <th class="text-center">Blockchain transaction</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in completeTableData">
      <td ng-class="nowrap">{{item.dueDate | date: 'yyyy-MM-dd'}}</td>
      <td class="text-center">{{item.offer}}</td>
      <td class="text-center">{{item.statusName}}</td>
      <td class="text-center"><a href="https://rinkeby.etherscan.io/tx/{{item.TX}}">{{item.TX}}</a></td>
    </tr>
    </tbody>
  </table>
</div>