<div class="horizontal-scroll" ng-controller="RatingCtrl">
  <div>
    <button type="button" class="btn btn-primary btn-with-icon save-profile" 
            ng-click="refreshTable()">
      Refresh table
    </button>
    </br>
  </div>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th class="align-right">Due Date</th>
      <th class="align-right">Offer</th>
      <th class="align-right">Status</th>
      <th class="align-right">Blockchain transaction</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in incompleteTableData">
      <td ng-class="nowrap">{{item.dueDate | date: 'yyyy:MM:dd' }}</td>
      <td class="align-right">{{item.offer}}</td>
      <td class="align-right">{{item.statusName}}</td>
      <td class="align-right"><a href="https://rinkeby.etherscan.io/tx/{{item.TX}}">{{item.TX}}</a></td>
    </tr>
    </tbody>
  </table>
  
</div>